.card {
  width: 50px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
}

.card-back {
  background-color: blue;
}

.card-dead {
  background-color: grey;
}

.card-front {
  /* background-color: red; */
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDisplay-12 {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  column-gap: 10px;
  row-gap: 15px;
}

.cardDisplay-24 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 10px;
  row-gap: 15px;
}

.cardDisplay-30 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  column-gap: 10px;
  row-gap: 15px;
}

.cardDisplay-48 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  column-gap: 10px;
  row-gap: 15px;
}