* > .light {
  background-color: #fdeda8;
  color: black;
  min-height: 100vh;
}

* > .dark {
  background-color: black;
  color: #baae7a;
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
}

.title > span {
  padding: 0.8rem;
  animation: bounce infinite 0.8s linear;
}

@keyframes bounce {
  0% {
    transform: translate(0rem, -1rem);
  }
  25% {
    transform: translate(0.5rem, 1rem) rotate(15deg);
  }
  50% {
    transform: translate(0rem, -1rem);
  }
  75% {
    transform: translate(-0.5rem, 1rem) rotate(-15deg);
  }
  100% {
    transform: translate(0rem, -1rem);
  }
}

.title > span:nth-child(1) {
  animation-delay: 0.3s;
}

.title > span:nth-child(2) {
  animation-delay: 0.1s;
}

.title > span:nth-child(3) {
  animation-delay: 0.4s;
}

.title > span:nth-child(4) {
  animation-delay: 0.2s;
}

.title > span:nth-child(5) {
  animation-delay: 0.5s;
}

.title > span:nth-child(6) {
  animation-delay: 0.3s;
}

.title > span:nth-child(7) {
  animation-delay: 0.1s;
}

.title > span:nth-child(8) {
  animation-delay: 0.4s;
}

.title > span:nth-child(9) {
  animation-delay: 0.2s;
}

.card {
  width: 50px;
  height: 70px;
  border: 0.3px solid black;
  border-radius: 5px;
}

.card:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -4px 3px 23px 6px rgba(130, 122, 86, 0.59);
  box-shadow: 0px 10px 13px -7px #000000,
    -4px 3px 23px 6px rgba(130, 122, 86, 0.59);
}

.card-back {
  background-color: #f5d549;
  animation: flip 0.3s ease;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.card-dead {
  background-color: #bc9d12;
  border-color: black;
  animation: flip 0.3s ease;
}

.card-dead:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.card-front {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: flipback 0.3s ease;
}

@keyframes flipback {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.cardDisplay {
  display: grid;
  column-gap: 10px;
  row-gap: 15px;
}

.cardDisplay-12-vertical {
  grid-template-columns: 50px 50px 50px;
}

.cardDisplay-24-vertical,
.cardDisplay-12-horizontal {
  grid-template-columns: 50px 50px 50px 50px;
}

.cardDisplay-30-vertical {
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.cardDisplay-48-vertical,
.cardDisplay-24-horizontal,
.cardDisplay-30-horizontal {
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
}

.cardDisplay-48-horizontal {
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
}

.end {
  background-color: #f5d549;
  color: black;
  z-index: 3;
  padding: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.end-phrase {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.number-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem double black;
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 1rem;
}

.number-select > h1 {
  margin-bottom: 0;
}

.button-options {
  display: flex;
  flex-direction: row;
}

.num-button {
  margin: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 50%;
  border: 0.07rem solid black;
  padding: 1rem;
  background-color: #fdeda8;
}

.num-button:hover {
  transform: translate(0.1rem, -0.1rem);
  background-color: black;
  color: #fdeda8;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -4px 3px 23px 6px rgba(130, 122, 86, 0.59);
  box-shadow: 0px 10px 13px -7px #000000,
    -4px 3px 23px 6px rgba(130, 122, 86, 0.59);
}

.num-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.num-container:hover > .type {
  visibility: visible;
}

.type {
  visibility: hidden;
  transform: translateY(10px);
  font-size: 1.5rem;
}

.back-button {
  margin: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 0.2rem;
  border: 0.07rem solid black;
  padding: 1rem;
  width: 200px;
  background-color: #fdeda8;
}

.back-button:hover {
  background-color: #000000;
  color: #fdeda8;
}

.time-banner {
  display: flex;
  background-color: #bc9d12;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

div.time-banner > div {
  background-color: transparent;
}

.cardDisplay {
  justify-content: center;
}

#root > div > div > div.cardDisplay > section {
  transform: translateX(250px);
}

/* switch elements */

.switch {
  display: flex;
  align-items: center;
}

.switch > span {
  padding: 1rem;
  text-transform: capitalize;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #bc9d12;
  border-radius: 1rem;
}

.switch-toggle {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 2px;
  border-radius: 50%;
  background-color: #fdeda8;
}

.switchLeft {
  left: 2px;
}

.switchRight {
  left: 28px;
}

#root > div > div:nth-child(2) > div.switch {
  justify-content: right;
}

/* theme */

.dark {
  background-color: #000000;
}

.pause {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
